<br />
<br />
<div class="hero">
  <div class="container frosty col-xs-6 offset-3">
    <br />
    <h1><b>Let's Grow Your Business</b></h1>
    <hr class="firstrule" />
    <br />
    <h4>From launching a website to building a client base, we match you with the right people and resources to get the job done</h4>
    <br />
    <div class="row">
      <%= link_to 'Hire', '#', class: "btn btn-primary hire col-xs-7 offset-1 col-lg-4" %>
      <p class="hero-p"><b>OR</b></p>
      <%= link_to 'Get Hired', '#', class: "btn btn-primary get-hired col-xs-7 offset-1 col-lg-4" %>
    </div>
  </div>
</div>
<div class="service-list-index">
  <br />
  <h1>Services</h1>
  <br />
  <div class="container services-index">
    <br />
    <h3>Office</h3>
    <hr class="secondrule" />
    <div class="row office-index">
      <div class="col-xs-10 col-lg-4">
        <h5>Personal/<br />
        Virtual Assistant</h5>
        <p class="service-details-index"></p>
      </div>
      <div  class="col-xs-10 col-lg-4">
        <h5>Bookkeeping/<br />
        Accounting</h5>
        <p class="service-details-index"></p>
      </div>
      <div  class="col-xs-10 col-lg-4">
        <h5>Data Entry</h5>
        <p class="service-details-index"></p>
      </div>
    </div>
    <br />
    <h3>Tech</h3>
    <hr class="secondrule" />
    <div class="row tech-index">
      <div  class="col-xs-10 col-lg-4">
        <h5>Web/Software<br />
        Developer</h5>
        <p class="service-details-index"></p>
      </div>
      <div  class="col-xs-10 col-lg-4">
        <h5>Graphic Designer</h5>
        <p class="service-details-index"></p>
      </div>
      <div class="col-xs-10 col-lg-4">
        <h5>UX/UI</h4=5>
        <p class="service-details-index"></p>
      </div>
    </div>
    <br />
    <h3>Miscellaneous</h3>
    <hr class="secondrule"/>
    <div class="row misc-index">
      <div class="col-xs-10 col-lg-4">
        <h5>Event Planner</h5>
        <p class="service-details-index"></p>
      </div>
      <div class="col-xs-10 col-lg-4">
        <h5>Office Mover</h5>
        <p class="service-details-index"></p>
      </div>
      <div class="col-xs-10 col-lg-4">
        <h5>Cleaning</h5>
        <p class="service-details-index"></p>
        <br />
      </div>
    </div>
  </div>
</div>
  
  <br />
  <br />
<div class="how-it-works">
<br />
  <div class="container how-to">
    <h1 class="text-center"><b>How it Works</b></h1>
    <hr class="secondrule" />
    <br />
    <br />
    <br />
    <div class="row">
      <div class="col-xs-12 col-lg-4 offset-1">
        <%= image_tag 'describe.png', class: 'icon' %>  
      </div>
      <div class="col-xs-12 col-lg-7">
        <div class="row">
          <h3 class="numbers">1</h3>
          <div class="description">
            <h3>Describe your project<br />
            or<br />
            Describe your skillset</h3><br />
            <p class="description-details">Let us know what you need or what you can do and<br />
            when you want help or when you can provide it</p>
          </div>
        </div>
      </div>
    </div>
    <br />
    <br />
    <br />
    <div class="row">
        <div class="col-xs-12 col-lg-7">
          <div class="row">
            <h3 class="numbers">2</h3>
            <div class="description">
              <h3>Get matched</h3><br />
              <p class="description-details">We'll immediately give you a list of<br />
              qualified freelancers, business owners<br />
              or potential clients in your area</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-lg-4">
        <%= image_tag 'connect.png', class: 'icon' %>  
      </div>
    </div>
    <br />
    <br />
    <br />
    <div class="row">
      <div class="col-xs-12 col-lg-4 offset-1">
        <%= image_tag 'wrench.png', class: 'icon' %>  
      </div>
      <div class="col-xs-12 col-lg-7">
        <div class = "row">
          <h3 class="numbers">3</h3>
          <div class="description">
            <h3>Get to work</h3><br />
            <p class="description-details">Your project is underway!<br />
            We are here to support you<br>
            with the right tools and resources<br />
            for the job</p>
          </div>
        </div>
        <br />
        <br />
      </div>
    </div>
  </div>
</div>

  
  
  
   