<div class="testnav">
  <%= image_tag 'scriptlogo.png', class: 'logo' %>
  <div class="row testnav-buttons">
    <%= link_to 'Login', '#', class: 'login' %>
    <%= link_to 'Sign Up', '#', class: 'sign-up' %>
  </div>
</div>
<div class="hero">
  <br />
  <div class="container frosty col-xs-6 offset-3">
    <br />
    <h1><b>Let's Grow Your Business</b></h1>
    <hr class="firstrule" />
    <br />
    <h4>From launching a website to building a client base, we match you with the right people and resources to get the job done</h4>
    <br />
    <div class="row">
      <%= link_to 'Hire', '#', class: "btn btn-primary hire col-xs-7 offset-1 col-lg-4" %>
      <p class="hero-p"><b>OR</b></p>
      <%= link_to 'Get Hired', '#', class: "btn btn-primary get-hired col-xs-7 offset-1 col-lg-4" %>
    </div>
  </div>
</div>
<div class="service-list-index">
  <br />
  <br />
  <div class="container">
    <h1 class="service-header">Connect with the best in one place</h1>
    <h5 class="services-sub">We partner with top freelancers, contractors, startups and small business<br />
    to ensure your satisfaction everytime</h5>
    <br />
    <div class="row office-index">
      <div class="col-xs-10 col-lg-3">
        <%= image_tag 'list_icons_2/assistant.png' %>
        <h5><b>Personal/<br />
        Virtual Assistant</b></h5>
        <p class="service-details-index">Whether you need someone behind a computer or
        boots on the ground, we've partnered with
        awesome assistants to meet your needs</p>
        <%= link_to 'Hire Assistant', '#', class: 'book-now' %>
      </div>
      <div  class="col-xs-10 col-lg-3">
        <%= image_tag 'list_icons_2/developer.png' %>
        <h5><b>Web/Software<br />
        Developer</b></h5>
        <p class="service-details-index">If you're looking to develop a new website or app
        try out one of the great people or
        teams we work with</p>
        <br />
        <%= link_to 'Hire Developer', '#', class: 'book-now' %>
      </div>
      <div  class="col-xs-10 col-lg-3">
        <%= image_tag 'list_icons_2/graphic.png' %>
        <br />
        <br />
        <h5><b>Graphic Designer</b></h5>
        <p class="service-details-index">Get inspired.
        From logos to signs and everything in between
        we have the right partner for your company</p>
        <br />
        <%= link_to 'Hire Graphic Designer', '#', class: 'book-now' %>
      </div>
    <br />
      <div class="col-xs-10 col-lg-3">
        <%= image_tag 'list_icons_2/move.png' %>
        <br />
        <br />
        <h5><b>Office Relocation</b></h5>
        <p class="service-details-index">You have enough to worry about. 
        Link up with the best movers in your area and relax on moving day</p>
        <br />
        <%= link_to 'Hire Mover', '#', class: 'book-now' %>
      </div>
    </div>
    <br />
    <br />
    <br />
    <%= link_to 'See More Services', '#', class: 'more-services-index' %>
    <br />
    
    
     

   
  <!-- <div class="col-xs-10 col-lg-3">
        <%= image_tag 'list_icons_2/dataentry.png' %>
        <br />
        <h5><b>Data Entry</b></h5>
        <p class="service-details-index">It can be a rigorous process but
        someone has to do it. Our professional partners have
        the knowledge, experience and quick fingers
        to get your job done</p>
        <br />
        <%= link_to 'Learn More', '#', class: 'book-now' %>
      </div>
      <div class="col-xs-10 col-lg-4">
        <%= image_tag 'list_icons_2/ux-ui.png' %>
        <br />
        <h5><b>UX/UI</b></h5>
        <p class="service-details-index"></p>
        <%= link_to 'Learn More', '#', class: 'book-now' %>
      </div>
    </div>
          <div  class="col-xs-10 col-lg-4">
        <%= image_tag 'list_icons_2/graphic.png' %>
        <br />
        <h5><b>Graphic Designer</b></h5>
        <p class="service-details-index">Get inspired.<br />
        From logos to signs and everything in between<br />
        we have the right partner for your company</p>
        <br />
        <br />
        <%= link_to 'Hire Graphic Designer', '#', class: 'book-now' %>
      </div>
    <br />
    <div class="row misc-index">
      <div class="col-xs-10 col-lg-4">
        <%= image_tag 'list_icons_2/event.png' %>
        <br />
        <h5><b>Event Planner</b></h5>
        <p class="service-details-index"></p>
        <%= link_to 'Learn More', '#', class: 'book-now' %>
      </div>
      <div class="col-xs-10 col-lg-4">
        <%= image_tag 'list_icons_2/maintenance.png' %>
        <h5><b>Cleaning/<br />
        Maintenance</b></h5>
        <p class="service-details-index"></p>
        <%= link_to 'Learn More', '#', class: 'book-now' %>
        <br />
      </div>
    </div>-->
    <br />
    <br />
  </div>
  <br />
  <br />
</div>
<div class="how-it-works">
<br />
<br />
  <div class="container how-to">
    <h1 class="text-center"><b>How it Works</b></h1>
    <hr class="secondrule" />
    <br />
    <br />
    <br />
    <div class="row">
      <div class="col-xs-12 col-lg-4 offset-1">
        <%= image_tag 'how_it_works_icons/describe.png', class: 'icon' %>  
      </div>
      <div class="col-xs-12 col-lg-7">
        <div class="row">
          <h3 class="numbers">1</h3>
          <div class="description">
            <h3>Describe your project<br />
            or<br />
            Describe your skillset</h3><br />
            <p class="description-details">Let us know what you need or what you can do and<br />
            when you want help or when you can provide it</p>
          </div>
        </div>
      </div>
    </div>
    <br />
    <br />
    <br />
    <div class="row">
        <div class="col-xs-12 col-lg-7">
          <div class="row">
            <h3 class="numbers">2</h3>
            <div class="description">
              <h3>Get matched</h3><br />
              <p class="description-details">We'll immediately give you a list of<br />
              qualified freelancers, business owners<br />
              or potential clients in your area</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-lg-4">
        <%= image_tag 'how_it_works_icons/connect.png', class: 'icon' %>  
      </div>
    </div>
    <br />
    <br />
    <br />
    <div class="row">
      <div class="col-xs-12 col-lg-4 offset-1">
        <%= image_tag 'how_it_works_icons/wrench.png', class: 'icon' %>  
      </div>
      <div class="col-xs-12 col-lg-7">
        <div class = "row">
          <h3 class="numbers">3</h3>
          <div class="description">
            <h3>Get to work</h3><br />
            <p class="description-details">Your project is underway!<br />
            We are here to support you<br>
            with the right tools and resources<br />
            for the job</p>
          </div>
        </div>
        <br />
        <br />
      </div>
    </div>
  </div>
</div>

  
  
  
   